include README.md LICENSE
recursive-include fluxterm *.yaml
recursive-include fluxterm *.tcss
recursive-include fluxterm *
prune OLD*
prune env*
global-exclude .env
global-exclude *.py[co]
recursive-exclude .git *
global-exclude __pycache__
